# Игнорировать виртуальные окружения
venv/
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы конфигурации и логов
*.log
*.env

# Игнорировать файлы, созданные IDE
.idea/
.vscode/

# Игнорировать файлы, отправленные в корзину
old_but_good_versions
prompts2

# Игнорировать файлы для тестов
app_test_working.py
BACKUP/
READ.md
read.me
imgt.py
add_message_todb.py